<%- include("head") %>
<link rel="stylesheet" href="/stylesheets/home.css" />
<title>Platos</title>
<%- include("navbar") %>

<section class="container-fluid">
  <section class="row justify-content-center prueba">
    <div class="col">
      <h1 class="bordeTexto">Boston platos</h1>
      <div class="d-flex flex-wrap gap-4 m-3">
        <% result.forEach(elem => { %>
        <div class="card mx-auto" style="width: 18rem">
          <img
            src="/images/dishes/<%= elem.dish_img %>"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= elem.dish_name %></h5>
            <p class="card-text"><%= elem.dish_description %></p>
            <a
              href="/restaurant/oneRestaurant/<%= elem.restaurant_id %>"
              class="btn buttons mt-auto"
              >Ir al restaurante</a
            >
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
</section>

<%- include("footer") %>
